/************
 * Nautilus *
 ************/
.nautilus-window {
  .frame{
    *:selected, *:selected:backdrop{
      background: transparent;
      color: $selected_bg_color;
      label {
        color: $selected_bg_color;
      }
    } 
  }
  paned {
    > separator { background-image: none; }
  }
  .sidebar {
    background-color: transparent;
    // background-image: none;

    &:backdrop {
      background-color: transparent;
      // background-image: none;
    }

    .list-row {
      button {
        border: none;
        background-color: transparentize(darken($base_color,3%),0.05);
        &:active {
          background-color: transparentize($selected_bg_color,0.25);
        }
      }

      &:selected {
        background-color: transparentize($selected_bg_color,0.25);
        &:hover {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }

      &:hover {
        background-color: transparentize($base_color,0.5);
        &:active {
          background-color: transparentize($selected_bg_color,0.1);
        }
      }
    }
  }
  &.background {
    background-color: transparentize(darken($base_color,3%),0.05);
    &:backdrop {
      background-color: transparentize(darken($base_color,3%),0.05);
    }
  }

  notebook {
    > stack:only-child { // the :not(:only-child) is for "hidden" notebooks
        background-color: $base_color;
        &:backdrop { background-color: $backdrop_base_color; }
    }
  }

  searchbar {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  
 .searchbar-container {
    margin-top: -1px;
  }

  .titlebar {
    .search{
      border: 1px solid $borders_color;
      border-radius: 3px;
      margin: 10px 5px 10px 0;
    }
    .path-bar-box {
      .dim-label {
        color:transparent;
      }
      widget > .text-button:last-child,
      widget > .text-button:last-child:active,
      widget > .text-button:last-child:checked,
      button:active, button:checked {
          @include button(active-header);
          &:backdrop{
            &, label{
              color: darken(rgb(255, 255, 255), 4%);
            }
          }
      }
    }

    .path-buttons-box {
      .current-dir label {
        padding: 6px 12px;
        @include button(active-header);
      }
    }
    .linked:not(.path-bar) {
      button {
        &:active, &:checked, &:active:backdrop, &:checked:backdrop {
          background: transparent;
          color: $selected_bg_color;
          box-shadow: none;
          border: none;      }
      }
    }
  }

  .linked:not(.vertical) > entry { 
    border-radius: 10px;
    &:focus {
      border-color: transparentize($selected_bg_color, 0.4);
    }
  }
}

.nautilus-circular-button {
  border-radius: 20px;
  -gtk-outline-radius: 20px;
}

.disk-space-display {
  border: 2px solid;

  .unknown {
    background-color: #888a85;
    border-color: darken(#888a85, 20%);
  }

  .used {
    background-color: #9FB0B9;
    border-color: darken(#9FB0B9, 20%);
  }

  .free {
    background-color: #D8D8D8;
    border-color: darken(#D8D8D8, 20%);
  }
}

.nautilus-desktop {

  color: $fg_color;

  .nautilus-canvas-item {
    border-radius: 5px;
    color: $selected_fg_color;
    text-shadow: 1px 1px transparentize(black, 0.4);

    &:active {
      color: $fg_color;
      text-shadow: none;
    }

    &:hover {
      color: $fg_color;
      text-shadow: none;
    }

    &:selected {
      color: $selected_fg_color;
      text-shadow: none;
    }

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }

  .nautilus-list {

    .dim-label {
      &:selected {
        color: $selected_fg_color;
      }
    }
  }
}

/*********
 * Gedit *
 *********/
.gedit-search-slider {
     padding: 4px;
     border-radius: 0 0 3px 3px;
     border: 0;
     background-color: $bg_color;
 }


 /*********
 * Gnucash *
 *********/
 #gnc-id-main-window {
  entry.gnc-class-register-foreground {
    background: transparent;
    border: none;
    box-shadow: none;
  } 
  .arrow.button.toggle {
    transition: none;
    box-shadow: none;
    &:hover { border-color: $selected_bg_color; }
  } 
}